plugin_long_name="WP Plugin Creator"
plugin_short_name="wp-plugin-creator"
plugin_uri="https://github.com/inswp/bash_inswp"
plugin_author="insomnux"
plugin_author_uri="https://github.com/inswp/"
plugin_version="0.9.0"
plugin_domain="wp-plugin-creator"
plugin_domain_path="lang"

func_prefix="wp_plugin_creator"
class_prefix="WP_Plugin_Creator"
constants_prefix="WP_PLUGIN_CREATOR_"
