plugin_long_name="WP Simple Plugin"
plugin_short_name="wp-simple-plugin"
plugin_uri="https://github.com/inswp/bash_inswp"
plugin_author="insomnux"
plugin_author_uri="https://github.com/inswp/"
plugin_version="0.9.0"
plugin_domain="wp-simple-plugin"
plugin_license="GPLv3"

version_min=4.9.8 # Minimum WP version the plugin works with
version_max=5.2.2 # Most recent WP version the plugin was tested with
plugin_short_desc="Creates the skeleton for a very simple plugin"
